apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: chengis-workspaces
  namespace: chengis
  labels:
    app.kubernetes.io/name: chengis
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: chengis-artifacts
  namespace: chengis
  labels:
    app.kubernetes.io/name: chengis
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi
